.shopping_cart {
	position: absolute;
	right:0;
	top:0;
	width: 120px;
	background: LightGray;
	text-align: center ;
	padding: 10px;
	margin: 20px;
}
/*
table, th, td {
	border-collapse: collapse;
	border: 1px solid Black;
	padding: 5px;
}
table {
	margin: 20px 0;
}
*/

/* -------------------------------------------------------------
			+++ MATERIALIZED CSS MODIFIERS +++
--------------------------------------------------------------- */

.input-field-no-top-margin {
	position: relative;
	margin-top: 0;
}

nav {
	background-color: #000;
	height: 60px;
	line-height: 60px;
}
nav a {

}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
	display: block;
	font-size: 28px;
	height: 60px;
	line-height: 60px;
}

nav .brand-logo img {
	display: table-cell;
	width: 180px;
	height: 60px;
}
nav ul a {
	padding: 0;
}
nav ul li {
	padding: 0 10px;
}



